#tracker-page #overview-header {
  background-color: #48374E; }
  #tracker-page #overview-header .tracker-rank {
    font-family: 'FiraMono-Regular', monospace;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 4px; }
    #tracker-page #overview-header .tracker-rank .emphasis {
      font-size: 25px;
      margin-right: 5px; }
  #tracker-page #overview-header .description {
    font-size: 13px; }
  #tracker-page #overview-header #operates-under p {
    font-size: 13px; }
  #tracker-page #overview-header #operates-under p:nth-of-type(1n+3) {
    display: none; }
  #tracker-page #overview-header #operates-under .operates-expand,
  #tracker-page #overview-header #operates-under .operates-collapse {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px; }
  #tracker-page #overview-header #operates-under i {
    margin-right: 5px; }
#tracker-page .overview-info {
  margin-bottom: 17px; }
  #tracker-page .overview-info h1 {
    font-family: 'FiraMono-Bold', monospace;
    font-size: 27px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0px; }
  #tracker-page .overview-info .overview-info-right {
    margin-top: 9px; }
#tracker-page .overview-header-box h3 {
  position: relative; }
#tracker-page .overview-header-box .trackers-icon {
  width: 28px;
  margin-right: 10px;
  float: left; }
#tracker-page .overview-header-box .trend {
  margin-bottom: 42px; }
#tracker-page .overview-header-box .percentage {
  position: relative;
  font-size: 32px; }
  #tracker-page .overview-header-box .percentage .graph {
    width: 153px;
    display: inline-block;
    position: absolute;
    top: -20px;
    margin-top: -13px; }
#tracker-page .overview-header-box .description {
  position: relative;
  margin-left: 45px; }
#tracker-page .overview-header-box .subtitle {
  font-size: 13px;
  color: #71869E;
  margin-top: 20px; }
#tracker-page .overview-header-box .progress {
  background: none;
  box-shadow: none;
  max-width: 400px;
  margin-bottom: 5px;
  border-radius: 0; }
#tracker-page .overview-header-box .progress-bar {
  white-space: nowrap;
  border-radius: 0px;
  text-align: left;
  background: #e9e9e9;
  color: #000;
  padding: 0 8px;
  box-shadow: none; }
#tracker-page .overview-header-box .progress-presence {
  float: left;
  margin-right: 10px;
  width: 20px;
  color: #A069AB;
  font-size: 13px;
  font-family: "FiraMono-Bold", monospace; }
#tracker-page .overview-header-box .right-column {
  padding-left: 0px; }
#tracker-page #similar-trackers {
  color: #71869E;
  background-color: #F4F7F8;
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: solid 1px #e3eced; }
  #tracker-page #similar-trackers .cat-item {
    margin-top: 10px;
    margin-bottom: 15px; }
  #tracker-page #similar-trackers ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px; }
    #tracker-page #similar-trackers ul li {
      margin-bottom: 14px; }
    #tracker-page #similar-trackers ul a {
      color: #A069AB;
      font-size: 16px;
      font-family: 'FiraMono-Regular', monospace; }
  #tracker-page #similar-trackers h4 {
    font-size: 14px;
    margin-top: 25px; }
  #tracker-page #similar-trackers h3 {
    line-height: 1.3;
    margin-bottom: 20px; }
  #tracker-page #similar-trackers p {
    margin-bottom: 0; }
  #tracker-page #similar-trackers .tracker-category a {
    color: #0078CA;
    font-size: 13px; }
  #tracker-page #similar-trackers .tracker-cat .cat-item {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 2px 6px 2px;
    margin-bottom: 2px;
    display: inline-block;
    font-size: 13px; }
  #tracker-page #similar-trackers .tracker-cat {
    margin-bottom: 10px !important; }
  #tracker-page #similar-trackers .tracker-desc {
    margin-bottom: 42px; }
#tracker-page #tag-cloud {
  margin-top: 20px;
  padding-bottom: 100px;
  border-bottom: solid 1px #e3eced; }
  #tracker-page #tag-cloud h2 {
    margin-bottom: 20px; }
  #tracker-page #tag-cloud .nav-tabs {
    margin-bottom: 30px; }

/*# sourceMappingURL=profile.css.map */
