<div class="home-header">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <h1>Learn about tracking technologies, market structure and data-sharing on the web</h1>
                <a href="https://arxiv.org/abs/1804.08959"
                   class="btn btn-purple"
                   target="_blank"
                   type="button">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    WhoTracksMe Paper 2018</a>
                <p>
                    <span>
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <a href="{{PATHS.blog}}/what_is_a_tracker.html"> What is a tracker?</a>
                    </span>
                    <span>
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <a href="{{PATHS.blog}}/where_is_the_data_from.html"> Where does this data come from?</a>
                    </span>
                </p>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="trackers-img">
                    <img src="{{PATHS.static}}/img/m1.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grey-bg header-articles">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <img src="{{PATHS.static}}/img/blog/blog-data-apr18.png" />
                    <div class="caption">
                        <p class="primer">RELEASE</p>
                        <h3><a href="{{PATHS.blog}}/update_apr_2018.html">April Update - Preparing for Internationalisation</a></h3>
                        <p>
                            A new data format to ease access to tracker data.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <img src="{{PATHS.static}}/img/blog/google_domains/dataflow.png" />
                    <div class="caption">
                        <p class="article">ARTICLE</p>
                        <h3><a href="{{PATHS.blog}}/google_domains.html">The end of google.{your country}?</a></h3>
                        <p>
                            Google' move to keep their cookies.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <img src="{{PATHS.static}}/img/blog/analytics/analytics.svg" />
                    <div class="caption">
                        <p class="article">ARTICLE</p>

                        <h3><a href="{{PATHS.blog}}/private_analytics.html">Tracking visits without tracking people</a></h3>
                        <p>
                            A privacy-by-design approach.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>