body{
    background: white;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Semibold", sans-serif;
    margin-top: 42px;
}
.post-header{
    background: #f2f2f2;
    margin-top: -30px;
    padding-top: 5%;
}
#post-title{
    font-family: "Open Sans Semibold", sans-serif;;
    font-size: 30px;
}
#post-subtitle{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    max-width: 700px;
    line-height: 1.2;
    margin-bottom: 20px;

}
.container-post{
    max-width: 800px;
    padding-bottom: 42px;
 }
.container-post p{
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 1.58;
    color: black;
}
.container-post li{
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: black;
}
.img-responsive{
    margin: auto;
}