html {
  height: 100%;
  box-sizing: border-box; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans-Semibold.ttf"); }
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-bold.ttf"); }
@font-face {
  font-family: "FiraMono-Regular";
  src: url("../fonts/FiraMono-Regular.ttf"); }
@font-face {
  font-family: 'FiraMono-Bold';
  src: url("../fonts/FiraMono-Bold.ttf"); }
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif; }

.breadcrumb-bar {
  border-top: solid 1px #e3eced;
  border-bottom: solid 1px #e3eced;
  margin-top: -1px;
  height: 39px;
  background-color: transparent;
  position: relative;
  z-index: 2; }
  .breadcrumb-bar .breadcrumb {
    color: #71869E;
    background-color: transparent;
    padding-left: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0; }
    .breadcrumb-bar .breadcrumb li + li:before {
      font-family: "FontAwesome";
      color: #71869E;
      content: "\f105 ";
      padding: 0 15px; }
    .breadcrumb-bar .breadcrumb a {
      font-family: "Open Sans";
      color: inherit; }

h2, h3 {
  font-size: 23px; }

p {
  font-size: 16px; }

.top-buffer {
  padding-top: 40px; }

.bottom-buffer {
  margin-bottom: 20px; }

.red-highlight {
  color: #A069AB; }

.btn-blue {
  background-color: #00AEF0;
  color: #fff;
  font-size: 16px; }

.btn-purple {
  background-color: #8B4099;
  color: #fff; }

.grey-bg {
  background-color: #F4F7F8;
  border-bottom: 1px solid aliceblue;
  padding-bottom: 20px;
  border-bottom: solid 1px #e3eced; }

.percentage {
  color: #A069AB;
  font-size: 45px;
  font-family: 'FiraMono-Regular', monospace; }

.purple-color {
  color: #A069AB; }

.cat-item {
  border: 1px solid #e3eced;
  border-radius: 20px;
  padding: 2px 6px 2px;
  margin-bottom: 2px;
  display: inline-block;
  font-size: 13px;
  color: #71869E; }
  .cat-item i {
    font-size: 12px;
    line-height: 12px;
    padding-right: 2px; }

.header {
  padding-top: 20px; }

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.label-category {
  background-color: #fff;
  border: 1px solid #CFD8DB;
  border-radius: 12px;
  color: #5F7C86;
  font-weight: normal; }

/* Navbar */
.navbar-brand {
  height: auto; }

.navbar-brand img {
  height: 31px; }

.navbar-blue {
  background-color: #00AEF0; }
  .navbar-blue .navbar-nav a {
    color: #fff; }
  .navbar-blue .navbar-toggle .icon-bar {
    background-color: #fff; }

#search-bar {
  border-radius: 20px;
  border: none;
  background-color: white;
  color: #1A1925;
  margin-top: 13px;
  width: 300px !important;
  padding-left: 20px; }

.easy-autocomplete ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #71869E; }
.easy-autocomplete ::-moz-placeholder {
  /* Firefox 19+ */
  color: #71869E; }
.easy-autocomplete :-ms-input-placeholder {
  /* IE 10+ */
  color: #71869E; }
.easy-autocomplete :-moz-placeholder {
  /* Firefox 18- */
  color: #71869E; }

.easy-autocomplete-container ul {
  top: 61px !important;
  border: solid 1px #e3eced; }
  .easy-autocomplete-container ul .eac-item {
    font-size: 16px;
    line-height: 1.7; }
    .easy-autocomplete-container ul .eac-item a {
      color: #2B5993; }
  .easy-autocomplete-container ul .eac-category {
    font-size: 16px !important;
    color: #71869E !important;
    background-color: #e3eced !important; }

#imaginary_container {
  float: left; }

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  position: relative;
  z-index: 10;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15); }

.navbar-nav a {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px; }

.navbar-nav .active a {
  color: #2b599c; }

.navbar-nav > li > a {
  padding-top: 21px;
  font-weight: 600; }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:active, .navbar-nav > li > a:focus {
    color: #2b599c;
    background-color: transparent; }

footer {
  background-color: #F4F7F8;
  color: #fff;
  padding: 30px 0 70px 0;
  font-size: 13px;
  color: #71869E;
  border-top: solid 1px #e3eced;
  margin-top: -1px;
  z-index: 3;
  position: relative; }
  footer a {
    color: #0078CA; }
  footer .menu a {
    margin-right: 7px; }
  footer .menu .divisor {
    margin-right: 7px; }
  footer .menu .copyright {
    margin-top: 5px; }
  footer .logos {
    text-align: right; }
    footer .logos a {
      text-decoration: none; }
    footer .logos span {
      display: inline-block; }
    footer .logos .cliqz-logo {
      background-image: url("../img/cliqz_logo_color.png");
      width: 100px;
      height: 36px;
      margin-right: 35px; }
    footer .logos .ghostery-logo {
      background-image: url("../img/ghostery_logo color.png");
      width: 131px;
      height: 39px; }

.dark-page {
  background-color: #48374E;
  margin-top: -42px;
  padding-top: 42px; }

#multi-column-list {
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 50px;
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3; }
  #multi-column-list li {
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
    color: #71869E; }
    #multi-column-list li a {
      color: #A069AB;
      font-size: 16px; }
    #multi-column-list li span {
      color: #71869E;
      margin-left: 5px; }

.nav-tabs {
  border-bottom: 0; }
  .nav-tabs > li {
    margin-right: 5px; }
    .nav-tabs > li > a {
      border-radius: 6px;
      color: #666;
      border: 1px solid #ccc;
      font-size: 13px;
      padding: 3px 7px; }
      .nav-tabs > li > a:hover {
        border-color: #ccc; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
      border-bottom-color: #ccc;
      background-color: #f0f0f0; }
      .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus:hover {
        border-bottom-color: #ccc;
        background-color: #eee; }

.inverse .nav-tabs {
  margin-bottom: 20px; }
  .inverse .nav-tabs > li > a {
    color: #fff; }
    .inverse .nav-tabs > li > a:hover,
    .inverse .nav-tabs > li > a a:focus {
      background: #4f5f64; }
  .inverse .nav-tabs > li.active > a, .inverse .nav-tabs > li.active > a:focus {
    background-color: #41555c;
    border: 1px solid #41555c;
    color: #fff; }

/*COMMON WEBSITES & TRACKERS */
#overview-header {
  background-color: #F4F7F8;
  margin-top: -40px;
  padding-top: 47px;
  border-bottom: solid 1px #e3eced; }

.overview-info {
  color: #71869E;
  margin-bottom: 5px; }
  .overview-info h1 {
    font-size: 30px;
    font-weight: 500; }
    .overview-info h1 a {
      color: #1A1925;
      text-decoration: none; }
  .overview-info .icon {
    position: relative;
    top: -1px; }
  .overview-info .subtitle {
    font-size: 16px; }
  .overview-info .overview-info-right {
    margin-top: 30px; }
    .overview-info .overview-info-right .trackers-info {
      border: 3px solid #A069AB;
      padding: 5px; }
      .overview-info .overview-info-right .trackers-info .trackers-icon {
        float: left; }
      .overview-info .overview-info-right .trackers-info .header {
        font-size: 16px;
        color: #A069AB;
        font-family: 'FiraMono-Bold', monospace; }
      .overview-info .overview-info-right .trackers-info .subtitle {
        font-size: 13px; }
      .overview-info .overview-info-right .trackers-info p {
        overflow: hidden;
        margin-left: 5px;
        margin-bottom: 0; }
    .overview-info .overview-info-right .more-info {
      margin-top: 10px;
      font-size: 13px; }
      .overview-info .overview-info-right .more-info p {
        margin-bottom: 4px; }
  .overview-info.inverse {
    color: #fff; }
    .overview-info.inverse p {
      margin-bottom: 2px; }
    .overview-info.inverse a {
      color: #88DEFF; }
    .overview-info.inverse .header {
      color: rgba(255, 255, 255, 0.7);
      font-size: 13px; }

.overview-header-box {
  background: #fff;
  margin-bottom: 40px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
  padding: 20px 0 30px 25px; }
  .overview-header-box h3 {
    font-size: 13px;
    color: #71869E; }
  .overview-header-box .percentage {
    font-size: 30px;
    color: #A069AB;
    font-family: 'FiraMono-Regular', monospace; }
  .overview-header-box .tracking-methods {
    /* p, a, h3 {
       margin-left: 30px;
     }*/ }
    .overview-header-box .tracking-methods img {
      position: absolute;
      left: -12px;
      width: 30px; }
    .overview-header-box .tracking-methods p {
      font-size: 13px; }
    .overview-header-box .tracking-methods a {
      color: #71869E; }

.tracking-method .highlight {
  color: #A069AB; }

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

.blog-page .col:nth-child(4n) {
  clear: left; }
.blog-page .header {
  margin-bottom: 30px; }
.blog-page .btn-purple {
  border-radius: 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  padding: 12px;
  margin-top: 10px; }
.blog-page a:hover {
  text-decoration: none; }

.overview-page .tracking-methods img {
  width: 20px; }

.navbar-toggle {
  margin-right: 0; }

@media only screen and (max-width: 1200px) {
  .header-articles:before {
    height: 161px !important; }

  #search-bar,
  .easy-autocomplete {
    width: 250px !important; } }
@media only screen and (max-width: 992px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; }

  #myNavbar {
    margin-left: -30px; }

  .home-header {
    padding-top: 30px !important; }
    .home-header h1 {
      font-size: 23px !important; }

  .header-articles:before {
    height: 120px !important; }

  .header-articles .caption {
    padding: 15px !important; }

  #multi-column-list {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2; }

  .blog-page .col:nth-child(3n) {
    clear: left; }

  #search-bar,
  .easy-autocomplete,
  #imaginary_container .input-group,
  #eac-container-search-bar {
    width: 100% !important; }

  #imaginary_container {
    padding-left: 14px;
    float: none; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #imaginary_container {
    height: 57px; }

  .navbar-collapse.in {
    overflow-y: visible; }

  #myNavbar {
    margin-left: 0; }

  #imaginary_container {
    margin-left: -14px; }

  .input-group {
    display: block; }

  .easy-autocomplete {
    width: 100% !important; }

  #search-bar {
    width: 100% !important; }

  .home-header h1 {
    max-width: 600px !important; }

  .trackers-img img {
    display: none; }

  .header-articles {
    margin-top: 20px; }

  .header-articles:before {
    height: 0px !important; }

  #multi-column-list {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1; }

  .blog-page .btn-blue {
    float: none;
    text-align: center;
    width: 100%; }

  footer .logos {
    text-align: left;
    margin-top: 30px; } }

/*# sourceMappingURL=custom.css.map */
