
/* ==========================================================================
   Custom Styles

   purple         #930194
   blue           #00AEF0
   black          #1A1A25
   white          #FFFFFF
   bright_gray    #BFCBD6
   dark_blue      #2B5993

========================================================================== */
html {
  height: 100%;
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 50px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}
p{
    font-size: 13px;
    font-weight: 400;
}
section{
    padding: 40px 0 40px 0;
}
.panel{
    border: none;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.mono{
    font-family: monospace;
    font-weight: 700;
    font-size: 24px;
}
.title{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: lighter;
    padding-left: 15px;
}
.subtitle{
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    padding-left: 15px;
}
.left{
    float: left;
}
.right{
    float: right;
}
#tracker-header{
    background: #f2f2f2;
    margin-top: -40px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.tracker-h2{
    display: inline;
}
.prevalence-metrics{
    margin-top: -10px;
}
.badge{
    margin-top: -10px;
    background: #bfcbd6;
    color: #444;
    font-weight: normal;
}
.rank{
    margin-top: -15px;
    color: white;
    background: #bfcbd6;
    padding: 15px 5px 0px 5px;
    min-width: 50px;
    max-width: 70px;
}
#domain{
    margin-left: 65px;
    color: gray;
    vertical-align: middle;
}
#domain a{
    color: gray;
    text-decoration: none;
}
.profile-label{
    padding-left: 5px;
    padding-right: 5px;
    border: solid 0.5px #BFCBD6;
    border-radius: 3px;
    margin-right: 5px;
}
.profile-deeplinks{
    margin-top: 15px;
}
.https-bar{
    margin: 40px -15px -38px -15px;
}
.progress-bar:last-child::before{
    background:  rgba(235, 119, 117, 1);
}
.progress {
     background: rgba(235, 119, 117, 1);
     height: 7px;
     border-radius: 2px;
     box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.https-progress-bar {
      background: rgba(16, 173, 163, 1);
}
#tracker-name{
    padding-top: 10px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #1A1A25;
    padding-right: 7px;
    line-height: 1.0;
}
#header-parallax{
    /* top, transparent red, faked with gradient */ 
    background: linear-gradient(
      rgba(0, 0, 0, 0.85), 
      rgba(0, 0, 0, 0.55)
    ),
    /* bottom, image */
    url("../img/network.jpg");
    
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
}

.summary-parallax{
    /* top, transparent red, faked with gradient */ 
    background: linear-gradient(
      rgba(0, 0, 0, 0.85), 
      rgba(0, 0, 0, 0.30)
    ),
    /* bottom, image */
    url("../img/trackers-header.png") repeat;
    
    /* Set a specific height */
    min-height: 300px; 
    max-height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
}
.parallax-content{
    padding-top: 3em;
    padding-bottom: 5em;
}
.intro-parallax {
    padding-top: 13em;
    /* min-height: 50%; */
    text-align: center; /* align horizontal */
}
.plot-title{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 24px;
    margin-left: 50px;
}
.summary-plot{
    margin-top: -70px;
    padding-bottom: -30px;
}
.summary-plot-title{
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin-bottom: -215px;
    padding-top: 130px;
}
.collaborator-logo{
    max-width: 30px;
}
#collaborators{
    color: white; 
    font-size: 20px;
}
#collaborator-mozilla{
    max-width: 105px;
}
.caption{
    float: right;
    font-size: 13px;
    color: #666;
}
.plot-subtitle{
    font-size: 15px;
    color: #555;
    margin-left: 50px;
    max-width: 600px;
    line-height: 1.2;
}
.bg-gray{
    background: #BFCBD6;
}
.wtf-header{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-top-1{
    min-width: 100%;
    background: linear-gradient(
      rgba(151, 17, 17, 0.9), 
      rgba(0, 0, 0, 0.65)
    ),
    /* bottom, image */
    url("../img/part1.png");   
    background-size: 334px 146px; 
    margin: -38px -15px 1px -15px;
    padding-bottom: 35px;
}
.card-top-2{
    min-width: 100%;
    background: linear-gradient(
      rgba(0, 151, 200, 0.9), 
      rgba(0, 0, 0, 0.65)
    ),
    /* bottom, image */
    url("../img/part2.png"); 
    background-size: 334px 161px;   
    margin: -38px -15px 1px -15px;
    padding-bottom: 35px;
}
.card-top-3{
    min-width: 100%;
    background: linear-gradient(
      rgba(20, 86, 27, 0.9), 
      rgba(0, 0, 0, 0.65)
    ),
    /* bottom, image */
    url("../img/part3.png");    
    background-size: 286px 186px;
    margin: -38px -15px 1px -15px;
    padding-bottom: 35px;
}
.card-title{
    color: white;
    padding: 10px 10px 0 10px;
    font-family: sans-serif;
    font-size: 24px;
}
.card-subtitle{
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 0 10px 0 10px;
    line-height: 1.2;
}
.card-button{
    text-align: center;
    margin-bottom: -3px;
}
.card-label{
    margin-left: 5px;
    margin-right: 5px;
    background: #BFCBD6;
    color: #1A1A25;
    font-size: 12px;
}
.report-card{
    min-height: 200px;
}
.report-card-labels{
    position: absolute;
    bottom: 40px;
}
.report-card a{
    color: #1A1A25;
}
.company-logo{
    margin-top: -15px;
    max-width: 50px;
}


/* categories colors  */
.advertising {
    background: #f5b7b7;
}
.comments {
    background: #FFE4C4;
}
.customer_interaction {
    background: #d2d2fb;
}
.essential {
    background: #71C671;
}
.pornvertising {
    background: #cc95d6;
}
.site_analytics {
    background: #B2DFEE;
}
.social_media {
    background: #B9D3EE;
}
.audio_video_player {
    background: #E0EEEE;
}

/* Navbar */
.navbar-default{
    background-color: #333;
    border: none;
    border-radius: 0;
}
.logo{
    max-width: 42px;
    margin-top: -11px;
}
.nav-button{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter !important;
    margin-left: 20px;    
}
.navbar-default .navbar-nav > li > a {
    color: white;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
}

.navbar-default .navbar-nav > li > a:hover {
    color: gray;
}
#imaginary_container{
    margin-top:8px;
    width: 42%;
    margin-left: 22%;
}
@media only screen and (max-width: 500px) {
    #imaginary_container{
        margin-top:8px;
        width: 100%;
        margin-left: 0%;
    }
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/* Footer */
footer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #f2f2f2;
    color: #1A1A25;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.divisor{
    color: #BFCBD6;
    margin-right: 5px;
    margin-left: 5px;
}
footer a{
    color: #1A1A25;
}
footer a:hover{
    color: #2B5993;
    text-decoration: none;
}
footer ul{
    padding-left: 0;
    margin-top: 15px;
    list-style: none; /* Removes list bullets */
}


/* Search */
.easy-autocomplete-container{
    margin-top: 35px;
}
.eac-category{
    background: #f6f6f6 !important;
    font-family: sans-serif;
    color: #aaa;
    font-weight: lighter;
    font-style: normal !important;
}
.eac-item a{
    color: #2B5993;
}
.eac-item a:hover{
    text-decoration: none;
}

/* category item */

.cat-item{
    border: solid 1px rgb(195, 193, 193);
    border-radius: 10px;
    padding: 1px 5px;
}