a:hover{
    text-transform: none;
}
thead{
    background-color:#E7EFF6;
    color: #555;
}
td{
    padding-top: 15px !important;
    padding-right: 10px !important;
}
.entity-name-cell{
    padding-top: 13px !important;
    max-width: 300px;
}
.entity-name{
    font-size: 15px;
}
.analytics{
    background-color: #fcc5bd;
    min-width: 50px;
}
/* .badge{
    margin-top: 0px !important;
    padding-top: 6px !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    min-width: 80px !important;
}
*/
.track-tech{
    width: 25px;
    margin-right: 10px;
}
.tracking-tech-column{
    min-width: 75px;
}
.company-column{
    max-width: 131px;
}


/* Site Category colors */
.E-commerce{
    background: blue;
}
.Adult{
    background: red;
}
.Entertainment{
    background: green;
}
.Business{
    background: blue;
}
.Recreation{
    background: aliceblue;
}
.E-commerce{
    background: blue;
}
.E-commerce{
    background: blue;
}
.E-commerce{
    background: blue;
}
