@import '../colors';

$font-serif:  Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

.col-md-4{
    margin-bottom: 40px;
}

.card {
  border-radius: 4px;
    h3 {
      font-size: 19px;
      padding-bottom: 10px;
      margin-top: 5px;
      a {
        color: $black-color;
        font-weight: bold;
      }
    }

    p {
      font-family: $font-serif;
      color: $grey-txt-color;
      font-size: 18px;
      margin-top: -10px;
    }

    .thumbnail {
      padding: 0;
      box-shadow: 8px 14px 38px rgba(39,44,49,.06),1px 3px 8px rgba(39,44,49,.03);
      border: 0;
    }
    .card-media {
      padding: 0;
      height: 198px !important;
      width: 100% !important;
      display: flex;
      max-width: 100% !important;
      .img-fit-cover {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        object-fit: cover;
        max-width: inherit;
      }
    }

    .caption {
      padding: 30px;
      min-height: 200px;
      max-height: 200px;
      .primer{
        font-family: 'FiraMono-Regular', monospace;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        margin-top: -13px;
        color: $red-txt-color;
      }
      .article{
        font-family: 'FiraMono-Regular', monospace;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        margin-top: -13px;
        color: $grey-txt-color;
      }
    }
  }
