{% extends "base.html" %}
{% block title %}
    <title>Blog | {{blog_post.title}}</title>
    <meta name="description" content="{{ blog_post.subtitle }}">
{% endblock %}

{% block og_params %}
    <!-- OG params for sharable content -->
    <meta property="og:title" content="{{ blog_post.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://whotracks.me/{{ 'blog'|url_for(blog_post.filename)|absolute_og_urls }}" />
    <meta property="og:description" content="{{ blog_post.subtitle }}" />
    <meta property="og:image" content="https://whotracks.me/{{PATHS.static|absolute_og_urls}}/img/{{blog_post.header_img}}" />
{% endblock %}


{% set active_page='blog' %}
{% set active_page_name=blog_post.title %}


{% block extra_styling %}
        <link rel="stylesheet" href="{{PATHS.static}}/css/blog/post.css">

        <!--to style code snippets properly-->
        <link rel="stylesheet" href="{{PATHS.static}}/css/blog/github.css">
        <script src="{{PATHS.static}}/js/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

{% endblock %}


{% block content %}
    <div class="img-container">
        <img class="img-responsive" src="{{PATHS.static}}/img/{{blog_post.header_img}}" />
    </div>
    <div class="container container-post">
            <h3 id="post-title">{{ blog_post.title }}</h3>
            <p id="post-subtitle">{{ blog_post.subtitle }}</p>

            {{ blog_post.body | markdown }}
    </div>

{% endblock %}
