{% extends "base.html" %}
{% block title %}
    <title>WhoTracks.me | Blog</title>
    <meta name="description" content="This a blog space for tech teams at Ghostery and Cliqz.">
{% endblock %}

{% block og_params %}
    <!-- OG params for sharable content -->
    <meta property="og:title" content="WhoTracks.me | Blog">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://whotracks.me/blog.html">
    <meta property="og:description" content="This a blog space for tech teams at Ghostery and Cliqz.">
{% endblock %}

{% block extra_styling %}
<link rel="stylesheet" href="{{PATHS.static}}/css/blog/card.css">
{% endblock %}


{% set active_page='blog' %}
{% block content %}

<section class="grey-bg">
    <div class="container blog-page">
        <div class="header">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <h1>Blog</h1>
                    <div class="subtitle">This a blog space for tech teams at Ghostery and Cliqz.</div>
                </div>
            </div>
        </div>

        {% for batch in blog_posts|batch(3) %}
        <div class="row">
            {% for blog_post in batch %}
                {% if blog_post.publish %}
                    <div class="col col-xs-12 col-sm-6 col-md-4">
                        {% include "components/blog-card.html" %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
