{% extends "base.html" %}

{% block title %}
    <title>WhoTracks.me - Bringing Transparency to Online Tracking</title>
    <meta name="description" content="Learn about tracking technologies, market structure and data-sharing on the web. Detailed profiling of top trackers and the tracker landscape on popular domains.">
{% endblock %}

{% block og_params %}
    <!-- OG params for sharable content -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://whotracks.me">
    <meta property="og:title" content="WhoTracks.me - Bringing Transparency to Online Tracking">
    <meta property="og:description" content="Learn about tracking technologies, market structure and data-sharing on the web. Detailed profiling of top trackers and the tracker landscape on popular domains.">
    <meta property="og:image" content="https://whotracks.me/{{PATHS.static|absolute_og_urls}}/img/tracking-matrix-bluebg.png">
{% endblock %}

{% set active_page='home' %}


{% block extra_styling %}
    <link rel="stylesheet" href="{{PATHS.static}}/css/home/index.css">
    <link rel="stylesheet" href="{{PATHS.static}}/css/blog/card.css">
{% endblock %}

{% block content %}

{% include "components/home/header.html" %}

<!-- Latest Articles -->

<div class="grey-bg header-articles">
        <div class="container">
            <div class="row">
                {% for blog_post in posts %}
                <div class="col-sm-4 col-md-4">
                    {% include "components/blog-card.html" %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

<section class="grey-bg top-buffer">
    <div class="container">
        <div class="row home-plot">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <h2 class="plot-title">Tracker Market Share</h2>
                        <p class="plot-subtitle">
                            Proportion of the web traffic tracked by these companies.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 checkout">
                <h4>READ OUR PAPER:</h4>

                    <i class="fa fa-file-text-o"></i>
                    <span style="font-size: 13px">
                        <a
                            target="_blank"
                            href="https://arxiv.org/abs/1804.08959">
                            WhoTracksMe 2018
                        </a>
                    </span>

            </div>
        </div>
        <div class="reach-chart">
            {{ ts }}
            <p class="plot-caption">See <a href="/companies/reach-chart.html">Full Chart</a></p>
        </div>
        <div class="row home-panel">

            <!-- Tracker Stats -->
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-body">
                    <div class="card-top-1 card-purple">
                        <h3 class="card-title">Google trackers are present on {{ top10[0].reach |to_percentage|round(0)|int }}% of the web traffic</h3>
                        <p class="card-subtitle">That is more than the next 4 biggest trackers combined.</p>
                    </div>

                    <p class="card-button">
                        <span class="label label-default">#trackerTopia</span>
                        <span class="label label-default">#growth</span>
                        <span class="label label-default">#topSites</span>
                    </p>
                </div>
            </div>
            <!-- End of Tracker Stats -->

            <!-- Website Stats -->
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-body">
                    <div class="card-top-2 card-purple">
                        <h3 class="card-title">{{ top10[1].reach |to_percentage|round(0)|int }}% of the web has a hidden Facebook tracking pixel</h3>
                        <p class="card-subtitle">Facebook knows more than what you just do on Facebook</p>
                    </div>

                    <p class="card-button">
                        <span class="label label-default">#facebook</span>
                        <span class="label label-default">#trackingPixel</span>
                        <span class="label label-default">#reach</span>
                    </p>
                </div>
            </div>
            <!-- End of Website Stats -->

            <!-- Privacy Reports -->
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-body">
                    <div class="card-top-3 card-gray">
                        <h3 class="card-title">{{ tracker_stats.gt01 }} companies track more than 0.1% of the web traffic each.</h3>
                        <p class="card-subtitle">Which of these have you heard of?</p>
                    </div>

                    <p class="card-button">
                        <span class="label label-default">#unknown</span>
                        <span class="label label-default">#pervasive</span>
                        <span class="label label-default">#mydata</span>
                    </p>
                </div>
            </div>
            <!-- END of Privacy Reports -->
        </div>
    </div>
</section>


<div class="top-buffer most-websites">

    <div class="container">
        <div class="most-tracked-websites">
            <h2>Websites with the most (and least) tracking
                <span class="subtitle"></span>
            </h2>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#traffic">Most Tracked</a></li>
                <li><a data-toggle="tab" href="#trackersNum">Least Tracked</a></li>
            </ul>
            <div class="list-container">
                <div class="tab-content">
                    <div id="traffic" class="tab-pane fade in active">
                        <ul id="multi-column-list">
                                {% for site in most_tracked_sites %}
                                    <li>
                                        <img class="icon" src="{{PATHS.static}}/img/website_globe.svg">
                                        <a href="{{ 'site'|url_for(site.site) }}">{{ site.site | normalize_domain_name }}</a>
                                        <span class="count">{{site.trackers|int}}</span>
                                        <span class="subtitle">{{ site.category }}</span>
                                    </li>
                                {% endfor %}
                                 <li>
                                    <a href="./websites.html" class="all-websites">
                                        All websites
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                        </ul>
                    </div>

                    <div id="trackersNum" class="tab-pane fade">
                        <ul id="multi-column-list">
                                {% for site in least_tracked_sites %}
                                    <li>
                                        <img class="icon" src="{{PATHS.static}}/img/website_globe.svg">
                                        <a href="{{ 'site'|url_for(site.site) }}">{{ site.site | normalize_domain_name }}</a>
                                        <span class="count">{{site.trackers|int}}</span>
                                        <span class="subtitle">{{ site.category }}</span>
                                    </li>
                                {% endfor %}
                                <li>
                                    <a href="./websites.html" class="all-websites">
                                        All websites
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row websites-info-box">
                <h4> TRACKER PRESENCE</h4>
                <div class="col-md-3 col-sm-6">
                    <div class="row">
                        <div class="col-md-11">
                            <p class="percentage">{{ websites.gt10 }}</p>
                            <p>out of {{ websites.count }} top websites have more than 10 trackers per page.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="row">
                        <div class="col-md-11">
                            <p class="percentage">{{ (websites.data / 1024 / 1024)|round|int }}<span class="mb">MB</span></p>
                            <p>of data per page load on average required by trackers
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="row">
                        <div class="col-md-11">
                            {% include "components/fingerprinting.html" %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="row">
                        <div class="col-md-11">
                            {% include "components/cookies.html" %}
                        </div>
                    </div>
                </div>
        </div>

    </div>

</div>

<div class="top-buffer most-trackers">
    <div class="container">
        <h2>The most common trackers</h2>
        {% include "components/unified-ui-tracker-list.html" %}
    </div>

</div>
</div>

{% endblock %}
