{% extends "base.html" %}
{% set active_page='learn' %}

{% block content %}

<section>
    <div class="container learn-page blog-page">
        <div class="header">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>Learn</h1>
                    <div class="subtitle">A space of analysis of tracker behaviour</div>
                </div>
               
            </div>
        </div>

        <div class="row">
        {% for report in reports %}
            {% if report.publish %}
            <div class="col col-xs-12 col-sm-6 col-md-4">
                {% include "components/learn-card.html" %}
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
