{% extends "base.html" %}

{% block title %}
    <title>WhoTracks.me | Page Not Found </title>
{% endblock %}

{% block og_params %}
    <!-- OG params for sharable content -->
    <meta property="og:title" content="WhoTracks.me | Page Not Found">    
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://whotracks.me/not-found">
    <meta property="og:description" content="The page you are trying to visit, with a very high probability, does not exist. We have lots of other interesting things for you to see though, visit to https://whotracks.me to find out.">
{% endblock %}



{% block content %}
<div style="height: 100vh">
    <div class="container">
        <h1 style="margin-top: 200px;">Page not Found</h1>
        <p>The page you are trying to visit, with a very high probability, does not exist. We have lots of other
        interesting things for you to see though. Did you check our <a href="/trackers.html">trackers page</a>?</p>
    </div>
</div>
{% endblock %}
