{% extends "base.html" %}
    {% block title %}
		<title>Blog</title>
    {% endblock %}


{% block extra_styling %}
<link rel="stylesheet" href="{{PATHS.static}}/css/blog/card.css">
{% endblock %}


{% set active_page='reports' %}
{% block content %}

<section class="grey-bg">
	<div class="container blog-page">
		<div class="header">
			<div class="row">
				<div class="col-md-9 col-sm-9">
					<h1>Blog</h1>
					<div class="subtitle">A space of analysis of tracker behaviour</div>
				</div>
			</div>
		</div>

		{% for b in reports|batch(3) %}
		<div class="row">
			{% for report in b %}
			{% if report.publish %}
			<div class="col col-xs-12 col-sm-6 col-md-4">
				{% include "components/report-card.html" %}
			</div>
			{% endif %}
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</section>

{% endblock %}
