{% extends "base.html" %} 
{% block title %}
    <title>WhoTracks.me | Trackers</title>
    <meta name="description" content="Top 500 most prevalent trackers on the web for a variety of categories such as advertising, analytics, customer interaction and others. More tracker profiles coming with each monthly release.">
{% endblock %}

{% block og_params %}
    <!-- OG params for sharable content -->
    <meta property="og:title" content="WhoTracks.me | Trackers">    
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://whotracks.me/trackers.html">
    <meta property="og:description" content="Top 500 most prevalent trackers on the web for a variety of categories such as advertising, analytics, customer interaction and others. More tracker profiles coming with each monthly release.">
{% endblock %}


{% set active_page='trackers' %}

{% block content %}

{% block extra_styling %}
    <link rel="stylesheet" href="{{ PATHS.static }}/css/trackers/list.css">
{% endblock %}

<!-- Main HEADER graph with company reach -->
<section class="trackers-list dark-page">
    <div class="container">
        <div class="header">
          <h1>
            <span>TRACKERS RANK</span>
            <span class="sub-title">Top 500 most prevalent trackers on the web</span>
          </h1>
          <span class="subtitle">Sort by: </span>
        </div>
        <div class="inverse">
          {% include 'components/tracker-list.html' %}
        </div>
    </div>
</section>
<!-- END of Main HEADER Graph -->

{% endblock %}