{% extends "base.html" %}

{% block title %}
    <title>WhoTracks.me | Tracker Not Found </title>
    <meta name="description" content="We don't have a profile of this tracker yet, as it's not very popular.  We are constantly adding more data on trackers, so make sure you check again in the future.">
{% endblock %}

{% block og_params %}
    <!-- OG params for sharable content -->
    <meta property="og:title" content="WhoTracks.me | Tracker Not Found">    
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://whotracks.me/tracker-not-found.html">
    <meta property="og:description" content="We don't have a profile of this tracker yet, as it's not very popular.  We are constantly adding more data on trackers, so make sure you check again in the future.">
{% endblock %}

{% block content %}
<div style="height: 100vh">    
    <div class="container">
        <h1 style="margin-top: 200px;">Tracker Profile missing</h1>
        <p>This tracker is not very popular, hence we don't have a profile on it yet. We are constantly adding more data on
            trackers, so make sure you check again in the future.

            Meanwhile, have you seen our <a href="/trackers.html">list of trackers</a>?</p>
    </div>
</div>
{% endblock %}
