{% extends "base.html" %} 

<!-- Default page title and description  -->
{% block title %}
  <title>{{og.title}}</title>
  <meta name="description" content="{{og.description}}">    
{% endblock %}

<!-- Open Graph params for sharable content -->
{% include 'components/og-snippet.html' %}

<!-- Setting active page used by breadcrumbs and navbar -->
{% set active_page='trackers' %}


{% block content %}

{% block extra_styling %}
    <link rel="stylesheet" href="{{ PATHS.static }}/css/trackers/list.css">
{% endblock %}

<!-- Main HEADER graph with company reach -->
<section class="trackers-list dark-page">
    <div class="container">
        <div class="header">
          <h1>
            <span>TRACKERS RANK</span>
            <span class="sub-title">Top 500 most prevalent trackers on the web</span>
          </h1>
          <span class="subtitle">Sort by: </span>
        </div>
        <div class="inverse">
          {% include 'components/tracker-list.html' %}
        </div>
    </div>
</section>
<!-- END of Main HEADER Graph -->

{% endblock %}