{% extends "base.html"  %}

{% block title %}
    <title>Website | {{ profile.name }}</title>
    <meta name="description" content="Tracking landscape on {{ profile.name }}. Percentage of pages you are tracked, average number of trackers per page, data-sharing with third parties and more.">
{% endblock %}


{% block og_params %}
    <!-- OG params for sharable content -->
    <meta property="og:title" content="Website | {{ profile.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://whotracks.me/{{ 'site'|url_for(profile.name)|absolute_og_urls }}" />
    <meta property="og:description" content="Tracking landscape on {{ profile.name }}. Percentage of pages you are tracked, average number of trackers per page, data-sharing with third parties and more." />
{% endblock %}


<!-- Setting some vars used by breadcrumbs and navbar -->
{% set active_page='websites' %}
{% set active_page_name=profile.name %}


{% block extra_styling %}
    <link rel="stylesheet" href="{{PATHS.static}}/css/websites/profile.css">
{% endblock %}

{% block content %}
<div id="website-page" class="overview-page">
    <div id="overview-header">
        <div class="container">
            <div class="row">
                {% include "components/websites/header.html" %}
            </div>
        </div>
    </div>

    {% if tracker_list|length > 0 %}
    <section>
        <div class="container">
            <h3 class="title">TRACKER MAP</h3>
            <div class="row plot-label">
                <div class="col-md-6 col-sm-6">
                    TRACKER CATEGORIES
                </div>
                <div class="col-md-6 col-sm-6 pull-right" style="text-align: right">
                    <span class="plot-subtitle">TRACKING</span> COMPANIES
                </div>
            </div>
            {{ sankey  }}
        </div>
    </section>

    <section>
        <div class="container">
            <h3 class="title">Trackers Seen</h3>
            <p class="subtitle">
               {% include "components/websites/tracker-list.html" %}
            </p>
        </div>
    </section>
    {% endif %}
</div>

{% endblock %}
