{% extends "base.html" %}

{% block title %}
    <title>WhoTracks.me | Website Profile Not Found</title>
    <meta name="description" content="We don't have a profile on this site yet. We are constantly adding more data on popular sites, so make sure you check again in the future.">    
{% endblock %}


{% block content %}
<div style="height: 100vh">    
    <div class="container">
        <h1 style="margin-top: 200px;">Website Profile missing</h1>
        <p>We don't have a profile on this website yet. We are constantly adding more data on
            popular sites, so make sure you check again in the future.

            Meanwhile, have you seen our <a href="/websites.html">list of websites</a>?</p>
    </div>
</div>
{% endblock %}
