{% extends "base.html" %}

{% block title %}
    <title>WhoTracks.me | Website Profile Not Found</title>
    <meta name="og:description" content="We don't have a profile of this site yet. We are constantly adding more data on popular sites, so make sure you check again in the future.">
{% endblock %}


{% block og_params %}
    <!-- OG params for sharable content -->
    <meta property="og:title" content="WhoTracks.me | Website Profile Not Found">    
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://whotracks.me/website-not-found.html">
    <meta property="og:description" content="We don't have a profile of this site yet. We are constantly adding more data on popular sites, so make sure you check again in the future.">
{% endblock %}


{% block content %}
<div style="height: 100vh">    
    <div class="container">
        <h1 style="margin-top: 200px;">Website Profile missing</h1>
        <p>We don't have a profile of this site yet. We are constantly adding more data on
            popular sites, so make sure you check again in the future.

            Meanwhile, have you seen our <a href="/websites.html">list of websites</a>?</p>
    </div>
</div>
{% endblock %}
