$grey-txt-color: #71869E;
$red-txt-color: #A069AB;
$light-blue-bg: #F4F7F8;
$header-bg-color: #253135;
$link-color: #0078CA;
$dark-header: #48374E;
$blue-color: #00AEF0;
$blue-on-dark: #88DEFF;
$light-blue-gray: #e3eced;
$dark-purple: #8B4099;
$nav-bar-active: #2b599c;
$dark-blue: #2B5993;

$light-purple-border: #f4e0ee;

$black-color: #1A1925;
$inactive-gray: #e9e9e9;
$graph-gray: #BCC4CE;

$pressed-button-dark: #3b2e40;
$button-border-dark: #36263c;