{% if active_page %}
    {% if not active_page=="home" %}

    <div class="breadcrumb-bar">
        <div class="container">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/{{active_page}}.html">{{active_page|prettify_label}}</a></li>
                    {% if active_page_name is defined %}
                        <li>{{active_page_name}}</li>
                    {% endif %}
                </ul>
        </div>
    </div>

    {% endif %}
{% endif %}
