<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 menu">
                <a target="_blank" href="https://cliqz.com/en/about">
                    About
                </a>
                <span class="divisor">&#x2027;</span> 
                <a target="_blank" href="https://cliqz.com/en/about/careers">
                    Careers
                </a>
                <span class="divisor">&#x2027;</span> 
                <a target="_blank" href="https://cliqz.com/en/download">
                    Cliqz browser
                </a>
                <span class="divisor">&#x2027;</span> 
                <a target="_blank" href="https://www.ghostery.com/en/products/">
                    Ghostery add-on
                </a>
                <span class="divisor">&#x2027;</span>              
                <i class="fa fa fa-github"></i>
                <a target="_blank" rel="noreferrer" href="https://github.com/cliqz-oss/whotracks.me">
                     Get the data
                </a>                
                <div class="copyright">
                    &copy; Cliqz 2017 - All rights reserved
                </div>

            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 logos">
                <a href="https://cliqz.com/en/"
                    target="_blank">
                    <span class="cliqz-logo"></span>
                </a>
                <a href="https://www.ghostery.com/"
                   target="_blank">
                    <span class="ghostery-logo"></span>
                </a>                             
            </div>        
        </div>
    </div>
</footer>
<!-- END OF FOOTER -->