<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12 menu">
        <ul>
          <li>
            <i class="fa fa fa-github"></i>
            <a target="_blank" rel="noreferrer" href="https://github.com/ghostery/whotracks.me">
              Get the data
            </a>
          </li>
          <li>
            <i class="fa fa fa-twitter"></i>
            <a target="_blank" rel="noreferrer" href="https://twitter.com/WhoTracks_me">
              @WhoTracks_me
            </a>
          </li>
          <li>
            <i class="fa fa fa-rss"></i>
            <a target="_blank" type="application/rss+xml" href="{{PATH_TO_ROOT}}/blog/feed.xml">
              RSS
            </a>
          </li>

          <li>
            <i class="fa fa fa-balance-scale"></i>
	    <span>
	      <a href="/privacy-policy.html">
	        Privacy Policy
	      </a>
	      <span>&nbsp;&amp;&nbsp;</span>
	      <a href="/imprint.html">
	        Imprint
	      </a>
          </li>
        </ul>
      </div>


      <div class="col-md-3 col-sm-3 col-xs-12 menu">
        <ul class="margin-left">

        </ul>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 logos">
        <a href="https://www.ghostery.com/" target="_blank">
          <span class="ghostery-logo"></span>
        </a>

        <div class="copyright">
          &copy; Ghostery GmbH - All rights reserved.
        </div>
        <div>Last updated on {{ TODAY }}</div>

        <div class="copyright">
          Contact us at <a target="_blank" href="mailto:info@whotracks.me">
            info@whotracks.me
          </a>
        </div>
      </div>

    </div>
  </div>

  <!-- Local javascript modules -->
  <script src="{{PATHS.static}}/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ PATHS.static }}/js/search.js"></script>


</footer>
<!-- END OF FOOTER -->
