<nav class="navbar-ghostery">
    <div class="navbar-ghostery-header">
        <img src="{{PATHS.static}}/img/logo-ghostery.svg" alt="WhoTracksMe & Ghostery">
        <button>
            <span class="navbar-ghostery-hide">Hide</span>
            <span class="navbar-ghostery-show">Show more</span>
        </button>
    </div>
    <div class="navbar-ghostery-features">
        <div>
            <img src="{{PATHS.static}}/img/ghostery-operated.svg" alt="Whotracks.me owned by Ghostery">
            <section>
                <h3>Trusted</h3>
                <p>
                    Owned and operated by Ghostery since 2018. We've empowered millions of users to 
                    take control of their online experience and protect their personal 
                    information from data collectors.
                </p>
            </section>
        </div>
        <div>
            <img src="{{PATHS.static}}/img/ghostery-data-collectors.svg" alt="Resource exposing trackers and data collectors">
            <section>
                <h3>Dynamic</h3>
                <p>
                    Actively monitors the data collectors on the top 10,000 most visited websites worldwide. 
                    Whotracks.me shows type, reach, and affiliation of every tracker.
                </p>
            </section>
        </div>
        <div>
            <img src="{{PATHS.static}}/img/ghostery-database.svg" alt="Open source database of trackers">
            <section>
                <h3>Open Source</h3>
                <p>
                    Shared with the wider content-filtering community. 
                    Other projects can use our <a href="https://github.com/ghostery/trackerdb" target="_blank">tracker database</a>
                    to enhance their own privacy tools.
                </p>
            </section>
        </div>
        <div>
            <img src="{{PATHS.static}}/img/ghostery-antitracking.svg" alt="AI anti-tracking technology">
            <section>
                <h3>Discerning</h3>
                <p>
                    More than just a website — WhoTracks.me analyzes data from the top 10,000 websites 
                    worldwide and informs Ghostery’s <a href="https://www.ghostery.com/blog/how-we-at-ghostery-protect-users-from-web-tracking" target="_blank">Anti-Tracking technology</a>.
                </p>
            </section>
        </div>
    </div>
</nav>

<nav class="navbar navbar-blue" role="navigation">
    <div class="container">

        <div class="row">
            <div class="col-md-2">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ PATHS.path_to_root }}">
                        <img class="logo" alt="Who Tracks Me" src="{{PATHS.static}}/img/logo-white.svg">
                    </a>
                </div>
            </div>

            <div class="col-md-10 col-sm-0">
                <!--Collapsed under menu in mobile-->
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input id="search-bar" class="form-control" type="text" placeholder="Search website or tracker">
                        </div>
                    </ul>

                    <!--Site links-->
                    <ul class="nav navbar-nav navbar-right">
                        <li {%if active_page=='trackers' %} class="active" {% endif %}>
                            <a class="nav-button" href="{{ PATHS.path_to_root }}/trackers.html">TRACKERS</a>
                        </li>
                        <li {%if active_page=='websites' %} class="active" {% endif %}>
                            <a class="nav-button" href="{{ PATHS.path_to_root }}/websites.html">WEBSITES</a>
                        </li>
                        <li {%if active_page=='blog' %} class="active" {% endif %}>
                            <a class="nav-button" href="{{ PATHS.path_to_root }}/blog.html">BLOG</a>
                        </li>
                        <li {%if active_page=='explorer' %} class="active" {% endif %}>
                            <a class="nav-button" href="{{ PATHS.path_to_root }}/explorer.html">EXPLORER</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</nav>
