<div class="summary-parallax">
    <div class="container">
        <div class="parallax-content">

            <h3 class="plot-title" style="color:white;">{{ content.summary_title }}</h3>
            <p class="plot-subtitle" style="color:white;">{{ content.summary_description }}</p>

            <div class="row">
            {% for chart in charts %}

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="summary-plot">
                        {{ chart }}
                    </div>
                </div>
                
            {% endfor %}
            </div>
        </div>
    </div>
</div>
