<div class="row top-5-trackers">
    <div class="col-md-6 col-sm-6">
        <ul class="top-5-list">
            {% for i in range(0,5) %}
                <li>
                    {{loop.index}}. 
                        <a href="{{ 'site'|url_for(website_list[i].name) }}" class="entity-name">
                            {{ website_list[i].name |  normalize_domain_name}}
                        </a>
                        {% if website_list[i].category %}
                            <span class="category">
                                {{ website_list[i].category }}
                            </span>
                        {% endif %}
                       
                        <span class="label label-default">Analytics</span>
                        <span class="label label-default">Advertising</span>

                        <p>
                            <span class="highlight">62%</span> of all domains on the internet has {{ website_list[i].name |  normalize_domain_name}}
                        </p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-6 col-sm-6">
        {%include "components/top-5-info-box.html" %}
    </div>
</div>