<div class="row top-5-trackers">
    <div class="col-md-6 col-sm-6">
        <ul class="top-5-list">
            {% for tracker in tracker_list[:5].itertuples() %}
                <li>
                    {{loop.index}}.
                        <a href="{{ 'tracker'|url_for(tracker.tracker) }}" class="entity-name">{{ tracker.id|get_app_name }}</a>
                        {% if tracker.company_id %}
                            <span class="category">
                                {{ tracker.company_id|get_company_name }}
                            </span>
                        {% endif %}
                        {% if tracker.category %}
                                {% with c=tracker.category %}
                                  {% include 'components/trackers/category.html'%}
                                {% endwith %}
                        {% endif %}
                        <p>
                            <span class="highlight">{{tracker.reach|to_percentage}}%</span> of web traffic is tracked by {{ tracker.id|get_app_name }}
                        </p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-6 col-sm-6">
        {%include "components/top-5-info-box.html" %}
    </div>
</div>