<h3 style="margin-left:15px">TRACKING METHODS</h3>
{% if site.overview.cookies > 0.4 and site.overview.bad_qs > 0.1 %}
    <div class="col-md-11 col-offset-1">
      <div class="row">
        <div class="col-md-6">
          {% include "components/cookies.html" %}
        </div>
        <div class="col-md-6">
          {% include "components/fingerprinting.html" %}
        </div>
      </div>
    </div>

{% elif site.overview.cookies > 0.1 %}
    <div class="col-md-8 col-offset-4">
    {% include "components/cookies.html" %}
    </div>
{% elif site.overview.bad_qs > 0.1 %}
    <div class="col-md-8 col-offset-4">
      {% include "components/fingerprinting.html" %}
    </div>
{% else %}
  <p>Does not track, but could easily become a tracker.</p>
{% endif %}
