
<ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#popularity">Popularity</a></li>
      <li><a data-toggle="tab" href="#category">Company</a></li>
</ul>
<div class="list-container">
    <div class="tab-content">
        <div id="popularity" class="tab-pane fade in active">
            {% include "components/top-5-trackers.html" %}

            <ul id="multi-column-list">

                {% for tracker in tracker_list[5:] %}
                    <li>
                        {{loop.index + 5}}.
                        <a href="{{ 'tracker'|url_for(tracker.tracker) }}" class="entity-name">{{ tracker.id|get_app_name }}</a>
                        {% if tracker.company_id %}
                            <span class="category">
                                {{ tracker.company_id|get_company_name }}
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="category" class="tab-pane fade">
            {% with tracker_list=trackers_list_company %}
                {% include "components/top-5-trackers.html" %}
            {% endwith %}
            <ul id="multi-column-list">
                {% for tracker in trackers_list_company[5:] %}
                    <li>
                        {{loop.index + 5}}.
                        <a href="{{ 'tracker'|url_for(tracker.tracker) }}" class="entity-name">{{ tracker.id|get_app_name }}</a>
                        {% if tracker.company_id %}
                            <span class="category">
                                {{ tracker.company_id|get_company_name }}
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
