
<ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#popularity">Popularity</a></li>
      <li><a data-toggle="tab" href="#category">Company</a></li>
</ul>
<div class="list-container">
    <div class="tab-content">
        <div id="popularity" class="tab-pane fade in active">
            {% include "components/top-5-trackers.html" %}
            
            <ul id="multi-column-list">

                {% for i in range(5, tracker_list|length) %}
                    <li>
                        {{i + 1 }}. 
                        <a href="{{ 'tracker'|url_for(tracker_list[i].overview.id) }}" class="entity-name">{{ tracker_list[i].name }}</a>
                        {% if tracker_list[i].company_id %}
                            <span>
                                {{ tracker_list[i].company_id|get_company_name }}
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="category" class="tab-pane fade">
            {% with tracker_list=trackers_list_company %}
                {% include "components/top-5-trackers.html" %}
            {% endwith %}
            <ul id="multi-column-list">
                {% for i in range(5, trackers_list_company|length) %}
                    <li>
                        {{ i + 1 }}.
                        <a  href="{{ 'tracker'|url_for(trackers_list_company[i].overview.id) }}" class="entity-name">{{ trackers_list_company[i].name }}</a>
                        {% if trackers_list_company[i].company_id %}
                            <span>
                                {{ trackers_list_company[i].company_id|get_company_name }}
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
