<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#popularity">Popularity</a></li>
  <li><a data-toggle="tab" href="#category">Category</a></li>
</ul>

<div class="list-container">
    <div class="tab-content">
    <div id="popularity" class="tab-pane fade in active">
        <ul id="multi-column-list">
            {% for website in website_list %}
                <li>
                    <img class="icon" src="{{PATHS.static}}/img/website_globe.svg" width="15" height="15">
                    <a
                        href="{{ 'site'|url_for(website.site) }}" class="entity-name"
                    >{{ website.site | normalize_domain_name }}</a>
                    <span class="count">{{website.trackers|int}}</span>
                    {% if website.category %}
                        <span class="label label-category">
                            {{ website.category }}
                        </span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="category" class="tab-pane fade">
        <ul id="multi-column-list">
        {% for website in website_list_cat %}
                <li>
                    <img class="icon" src="{{PATHS.static}}/img/website_globe.svg" width="15" height="15">
                    <a
                        href="{{ 'site'|url_for(website.site) }}" class="entity-name"
                    >{{ website.site | normalize_domain_name }}</a>
                     <span class="count">{{website.trackers|int}}</span>
                    {% if website.category %}
                        <span class="label label-category">
                            {{ website.category }}
                        </span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
</div>